@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

/* CSS RESET */

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "League Spartan", sans-serif;
  /* background: url(/images/bg-mobile.svg) no-repeat center/contain; */
}

.main-cont {
  /* border: 5px solid green; */
  background-color: hsl(257, 40%, 49%);
  margin: 0 auto;
  width: 100vw;
  max-width: 400px;
  height: 100vh;
  position: relative;
  z-index: 1;
  padding: 10px 20px;
}

.image {
  height: 50%;
  background: url(/images/illustration-mockups.svg) no-repeat center/contain;
}

.logo img {
  width: 116px;
  margin-top: 0.25vw;
}

.background {
  width: 100%;
  max-width: 350px;
  height: 295px;
  background-image: url(/images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  /* bottom: 0px; */
  /* right: 0; */
  /* margin: 0 auto;
  text-align: center; */
}

.text {
  text-align: center;
  color: #fff;
}

.text h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  /* color: #fff; */
  /* line-height: 0.9; */
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.text p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: 15px;
}
button {
  background-color: #fff;
  color: hsl(257, 40%, 49%);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  border: none;
  padding: 10px 70px;
  border-radius: 32px;
  margin-bottom: 42px;
}
.icons img {
  filter: invert(100%);
  background: transparent;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  padding: 5px;
  margin-right: 2px;

  /* display: flex;
  flex-direction: column; */
}

button:hover {
  cursor: pointer;
  background-color: hsl(300, 69%, 71%);
}

.icons img:nth-of-type(2):hover {
  background-color: hsl(300, 69%, 71%);
  cursor: pointer;
  filter: none;
}

@media only screen and (min-width: 520px) {
  body {
    background: hsl(257, 40%, 49%) url(/images/bg-desktop.svg) no-repeat
      center/cover;
    /* background: url(/images/bg-mobile.svg) no-repeat center/contain; */
  }
  .background {
    display: none;
  }
  .main-cont {
    background-color: transparent;
    display: flex;
    max-width: 860px;
    align-items: center;
    /* justify-content: space-between; */
  }

  .image {
    flex-basis: 80%;
    height: 400px;
    background-size: contain;
  }

  .text {
    /* flex-basis: 30%; */
    width: 50%;
    text-align: start;
    margin-left: 2em;
  }

  button {
    padding: 10px 40px;
  }
}
